{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
     "cloudant": {
      "db": "https://whedropedrationersonceet:s7obqbeaOWkC5wWodpGgKN8Jjweav6.cloudant.com/asdproject"
    }
  }
}
